### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load (Remember to Change These if my path is different)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [16]:
student_data["student_name"].count

<bound method Series.count of 0             Paul Bradley
1             Victor Smith
2          Kevin Rodriguez
3        Dr. Richard Scott
4               Bonnie Ray
               ...
39165         Donna Howard
39166            Dawn Bell
39167       Rebecca Tanner
39168         Desiree Kidd
39169      Carolyn Jackson
Name: student_name, Length: 39170, dtype: object>

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing), **count of unique student name from each list/all students

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [17]:
total_schools = len(school_data["School ID"])

total_students = len(student_data["Student ID"])

total_budget = school_data["budget"].sum()

avg_mathscore = student_data["math_score"].mean()

avg_readingscore = student_data["reading_score"].mean()

students_passmath = student_data.loc[student_data["math_score"] >= 70]["math_score"].count()
percent_passmath = students_passmath/total_students

students_passreading = student_data.loc[student_data["reading_score"] >= 70]["reading_score"].count()
percent_passreading = students_passreading/total_students

overall_passing = student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]["Student ID"].count()/total_students

district_summary = pd.DataFrame({"Total Schools": [total_schools],"Total Students": [total_students],"Total School Budget": [total_budget],
                                 "Average Math Score": [avg_mathscore],"Average Reading Score": [avg_readingscore],
                                 "% Passing Math": [percent_passmath],"% Passing Reading": [percent_passreading],
                                 "% Overall Passing": [overall_passing]})

district_summary.style.format({"Total Students": "{:,}", "Total School Budget": "${:,.2f}", "Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", 
                               "% Passing Math": "{:.2%}", "% Passing Reading": "{:.2%}", 
                               "% Overall Passing": "{:.2%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [18]:
per_school = school_data_complete.set_index("school_name").groupby(["school_name"])

school_types = school_data.set_index("school_name")["type"]

students_per = per_school["Student ID"].count()

school_budget = school_data.set_index("school_name")["budget"]

student_budget = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]

avg_schoolmath = per_school["math_score"].mean()
avg_schoolread = per_school["reading_score"].mean()

pass_schoolmath = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/students_per 
pass_schoolread = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/students_per 
overallschool = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("school_name")["Student ID"].count()/students_per 

school_summary = pd.DataFrame({"School Type": school_types,"Total Students": students_per,"Total School Budget": school_budget,
                               "Per Student Budget": student_budget,"Average Math Score": avg_schoolmath,"Average Reading Score": avg_schoolread,
                               "% Passing Math": pass_schoolmath,"% Passing Reading": pass_schoolread,"% Overall Passing": overallschool})

school_summary.style.format({"Total Students": "{:,}", "Total School Budget": "${:,}", "Per Student Budget": "${:.0f}",
                             "Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", "% Passing Math": "{:.2%}",
                             "% Passing Reading": "{:.2%}", "% Overall Passing": "{:.2%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [19]:
top_five = school_summary.sort_values("% Overall Passing", ascending = False)
top_five.head().style.format({"Total Students": '{:,}', "Total School Budget": "${:,}", "Per Student Budget": "${:.0f}",
                              "Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", "% Passing Math": "{:.2%}",
                              "% Passing Reading": "{:.2%}", "% Overall Passing": "{:.2%}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [20]:
bottom_five = school_summary.sort_values("% Overall Passing", ascending = True)
bottom_five.head().style.format({"Total Students": "{:,}", "Total School Budget": "${:,}", "Per Student Budget": "${:.0f}",
                              "Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", "% Passing Math": "{:.2%}",
                              "% Passing Reading": "{:.2%}", "% Overall Passing": "{:.2%}"})

## Math Scores by Grade

* Create a table that lists the average Math Scores for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
math_nine = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math_ten = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math_eleven = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math_twelve = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

math_scores = pd.DataFrame({"9th": math_nine, "10th": math_ten, "11th": math_eleven, "12th": math_twelve})
math_scores = math_scores[["9th", "10th", "11th", "12th"]]
math_scores.index.name = ""

math_scores.style.format({"9th": "{:.2f}", "10th": "{:.2f}", "11th": "{:.2f}", "12th": "{:.2f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [22]:
reading_nine = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
reading_ten = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
reading_eleven = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
reading_twelve = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

reading_scores = pd.DataFrame({"9th": reading_nine, "10th": reading_ten, "11th": reading_eleven, "12th": reading_twelve})
reading_scores = reading_scores[["9th", "10th", "11th", "12th"]]
reading_scores.index.name = ""

reading_scores.style.format({"9th": "{:.2f}", "10th": "{:.2f}", "11th": "{:.2f}", "12th": "{:.2f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [23]:
bins = [0, 584.49, 629.49, 644.49, 9999999999]
group_name = ["<$584", "$585-629", "$630-644", "$645-675"]
school_data_complete["spending_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], bins, labels = group_name)

by_spending = school_data_complete.groupby("spending_bins")

avg_schoolmath = by_spending["math_score"].mean()
avg_schoolread = by_spending["reading_score"].mean()
pass_schoolmath = school_data_complete[school_data_complete["math_score"] >= 70].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()
pass_schoolread = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()
overallschool = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("spending_bins")["Student ID"].count()/by_spending["Student ID"].count()

scores_by_spend = pd.DataFrame({"Average Math Score": avg_schoolmath, "Average Reading Score": avg_schoolread,
                                "% Passing Math": pass_schoolmath, "% Passing Reading": pass_schoolread, "% Overall Passing": overallschool})
            
scores_by_spend.index.name = "Spending Ranges (Per Student)"
scores_by_spend = scores_by_spend.reindex(group_name)

scores_by_spend.style.format({"Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", "% Passing Math": "{:.2%}",
                              "% Passing Reading": "{:.2%}", "% Overall Passing": "{:.2%}"})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [24]:
bins = [0, 999.49, 1999.49, 9999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], bins, labels = group_name)

by_size = school_data_complete.groupby("size_bins")

avg_schoolmath = by_size["math_score"].mean()
avg_schoolread = by_size["reading_score"].mean()
pass_schoolmath = school_data_complete[school_data_complete["math_score"] >= 70].groupby("size_bins")["Student ID"].count()/by_size["Student ID"].count()
pass_schoolread = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("size_bins")["Student ID"].count()/by_size["Student ID"].count()
overallschool = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("size_bins")["Student ID"].count()/by_size["Student ID"].count()
 
scores_by_size = pd.DataFrame({"Average Math Score": avg_schoolmath, "Average Reading Score": avg_schoolread,
                                "% Passing Math": pass_schoolmath, "% Passing Reading": pass_schoolread, "% Overall Passing": overallschool})

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(group_name)

scores_by_size.style.format({"Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", "% Passing Math": "{:.2%}",
                              "% Passing Reading": "{:.2%}", "% Overall Passing": "{:.2%}"})

## Scores by School Type

* Perform the same operations as above, based on school type

In [25]:
by_type = school_data_complete.groupby("type")

avg_schoolmath = by_type["math_score"].mean()
avg_schoolread = by_type["reading_score"].mean()
pass_schoolmath = school_data_complete[school_data_complete["math_score"] >= 70].groupby("type")["Student ID"].count()/by_type["Student ID"].count()
pass_schoolread = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("type")["Student ID"].count()/by_type["Student ID"].count()
overallschool = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("type")["Student ID"].count()/by_type["Student ID"].count()
          
scores_by_type = pd.DataFrame({"Average Math Score": avg_schoolmath, "Average Reading Score": avg_schoolread,
                                "% Passing Math": pass_schoolmath, "% Passing Reading": pass_schoolread, "% Overall Passing": overallschool})

scores_by_type.index.name = "School Type"

scores_by_type.style.format({"Average Math Score": "{:.2f}", "Average Reading Score": "{:.2f}", "% Passing Math": "{:.2%}",
                              "% Passing Reading": "{:.2%}", "% Overall Passing": "{:.2%}"})